{{>layouts/header}}
{{>layouts/body}}
<!-- Begin Page Content Start-->
<div class="container-fluid">
    {{>layouts/indexCandleChart}}
    {{>layouts/indexTable}}
</div>
<!-- Begin Page Content End-->
{{>layouts/footer}}
